<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h1>Welcome back! {{userId}}</h1>
        <form action="/search" method="POST">
            <input type="text" name="movie" placeholder="Search..." required>
            <button type="submit">Search</button>
        </form>
        <h2>Recommendations for you</h2>
        <section id="movie-list">
            <div class="movie">
                <img src={{image_link1}} alt="Movie Poster">
                <div class="movie-info">
                    <h2>{{suggestion1}}</h2>
                    <p>{{description1}}</p>
                    <button onclick="showDetails()">Details</button>
                </div>
            </div>

            <div class="movie">
                <img src={{image_link2}} alt="Movie Poster">
                <div class="movie-info">
                    <h2>{{suggestion2}}</h2>
                    <p>{{description2}}</p>
                    <button onclick="showDetails()">Details</button>
                </div>
            </div>

            <div class="movie">
                <img src={{image_link3}} alt="Movie Poster">
                <div class="movie-info">
                    <h2>{{suggestion3}}</h2>
                    <p>{{description3}}</p>
                    <button onclick="showDetails()">Details</button>
                </div>
            </div>

            <div class="movie">
                <img src={{image_link4}} alt="Movie Poster">
                <div class="movie-info">
                    <h2>{{suggestion4}}</h2>
                    <p>{{description4}}</p>
                    <button onclick="showDetails()">Details</button>
                </div>
            </div>

            <div class="movie">
                <img src={{image_link5}} alt="Movie Poster">
                <div class="movie-info">
                    <h2>{{suggestion5}}</h2>
                    <p>{{description5}}</p>
                    <button onclick="showDetails()">Details</button>
                </div>

        </section>
        <br>
        <br>

    <footer>
        <p>&copy; 2024 Movie Recommendations</p>
    </footer>
    </div>
</body>
</html>
